@model List<string>

<h2>Upload Video</h2>
<form method="post" enctype="multipart/form-data" asp-action="UploadVideo">
    <input type="file" name="file" accept="video/*" />
    <button type="submit" class="btn btn-success">Upload Video</button>
</form>

<hr />

<h2>Video Gallery</h2>

@if (Model != null && Model.Any())
{
        <ul>
        @foreach (var videoUrl in Model)
        {
            var fileName = System.IO.Path.GetFileName(videoUrl);
                    <li style="display:flex;justify-content:space-around;align-items:center; margin-bottom: 20px;">
                        <video width="320" height="240" controls>
                            <source src="@videoUrl" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                        <a class="btn btn-primary" asp-action="DownloadVideo" asp-route-fileName="@fileName">
                            Download
                        </a>
                    </li>
        }
        </ul>
}
else
{
        <p>No videos uploaded yet</p>
}
